#container
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 10px;
    border: none;
    background-color: rgb(83, 83, 245);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}

button:active{
    background-color: rgb(93, 93, 243);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}